server:
	server_name: localhost
	port: 8888
	ip: 127.0.0.1
	max_body_size: 300000

	default_file: /default.html

	# Default error pages
	error_page:
		404: /error_pages/404.html

	# Root directory for the server
	root: web/website0

	location:
		path: /
		methods: GET, POST
		redirect: /index.html

	location:
		path: /uploads
		methods: POST, DELETE, GET
		directory_listing: on

	location:
		path: /home.html
		methods: POST, GET
		redirect: /index.html

	location:
		path: /img
		methods: POST, GET
		directory_listing: off
		redirect: /index.html

	location:
		path: /test
		methods: POST, GET
		directory_listing: off



