server:
	server_name: localhost
	port: 8888
	ip: 127.0.0.1
	max_body_size: 30

	default_file: /default.html

	# Default error pages
	error_page:
		400: /error_pages/400.html

	# Root directory for the server
	root: web/website0
	
	location:
		path: /
		methods: POST, GET
		directory_listing: on

	location:
		path: /uploads
		methods: POST, DELETE, GET
		directory_listing: on

	location:
		path: /home.html
		methods: POST, GET
		redirect: /index.html

	location:
		path: /img
		methods: POST, GET
		directory_listing: off

	location:
		path: /test
		methods: POST, GET
		directory_listing: on